doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/amination.css')
    link(href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet")
  body
    div#container
    div#footer
    div#body
        block body-content
    div#footer
    script(src="/javascripts/style.js")